body{
  background-color: #212a31;
  color: white;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  transition: .5s all;
}

.container{
  height: max-content;
  width: 98vw;
  display: flex;
  overflow-x:hidden;
}
.part1{
  height: max-content;
  width: 0vw;
  border:2px solid white;
  border-bottom-color: transparent;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  transition: .7s all;
}
.navbar{
  height: 10vh;
  font-size: 23px;
  margin-top: 25px;
  text-align: center;
}
.navtext{
  background-color: #124e66;
  opacity: 0;
  border-radius: 15px;
  padding:15px;
  transition: .5s all;
}
.cardcont{
  display: grid;
  justify-content: center;
  gap: 5vh;
  opacity: 0;
  transition: .5s all;
  grid-template-columns: auto auto auto;
}
.card{
  border-radius: 15px;
  width: 15vw;
  height: 6vh;
  padding: 15px;
  background-color: #124e66;
  overflow:hidden;
  transition: .3s all;
  box-shadow: 4px 5px 12px 2px #09232d;
  position: relative;
}
.card:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.5em;
  background: linear-gradient(to top, #082c3a, transparent);
  pointer-events: none;
}

.card:hover{
  height: 24vh;
  background-color: #136282;
}
.part2{
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 13vh;
  transition: .7s all;
}
.inputcont{
  background-color: #124e66;
  font-size: 23px;
  height: 20vh;
  width: 30vw;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.inputcont:hover{
  background-color: #136282;
  transition: .5s all;
}
.inputcont input,button{
  height: 4vh;
  border-radius: 15px;
  background-color: #d3d9d4;
  width: 20vw;
  font-size: 15px;
}

.inputcont input:hover,button:hover{
  transition: .4s all;
  scale: 1.05;
}
.inputcont button{
  width: 15vw;
}

@media (max-width: 1059px)
{
  .container{
    flex-direction:column-reverse;
  }
  .part2{
    width: 100vw !important;
  }
  .inputcont{
    width: 40vw;
    gap: 10px;
    font-size: 18px;
  }
  .inputcont input{
    height: 10%;
    width: 90%;
    padding: 5px;
    font-size: 13px;
  }
  .inputcont button{
    height: 20%;
    width: 50%;
    padding: 5px;
    }
  .part1{
    width: 100vw !important;
    border: none;
  }
  .navbar{
    font-size: 18px;
  }
  .cardcont{
    margin-top: 20px;
    grid-template-columns: auto auto auto;
  }
  .card{
    height: 12vh;
    }
  .card:hover{
    width:36vw;
    height: 20vh;
  }
}
@media (max-width: 602px)
{
  .part1{
    margin-bottom: 30px;
  }
  .cardcont{
    grid-template-columns:auto;
  }
  .inputcont{
    width: 70vw;
  }
  .inputcont input{
    height: 20%;
    border: none;
  }
  .inputcont button{
    height: 30%;
    background-color: transparent;
    border-color: white;
    color: white;
  }
  .card{
    width: 70vw;
    height: 8vh;
    text-align: justify;
    font-size: 19px;
  }
  .card:hover{
    height: 36vh;
    width: 80vw;
  }
}